@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Mono&display=swap', "//db.onlinewebfonts.com/t/9963d4ed6a01eb3ea58a9db8720bf032.eot?#iefix");
/* font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */
/* Estructura básica */

@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
body{
    margin: 0%;
   
}
header{
    width: 100%;
    display: flex;
    margin-top: 50px;
    
    margin: 0%;
    background: rgba(255, 255, 255, 0.7);
}
.menu{
    width: 60%;
    display: flex;
    padding-top: 40px;
}
.menu nav ul li{
    display: inline-block;
    list-style: none;
    padding-left: 40px;

}
.menu nav ul li a{
    text-decoration: none;
   font-family: 'Zen Antique', serif; 
   font-size: 1.4em;
   color: #bc0b12;
    
}
.logo{
    width: 40%;
    display: flex;
    padding-top: 20px;
    
}

.logo img{
    padding-left: 200px;
    width: 50%;
    
}

.row{
    width: 100%;
    float: left;
    display: flex;
    
    padding-top: 3%;
}
.section1{
    float: left;
    width: 50%;
    align-content: center;
    padding-left: 10%;
    

}
.section2{
    float: right;
    width: 50%;
    align-content: center;
    padding-left: 10%;
    

}

.row1{
   display: flex;
    width: 100%;
    background-color: #bc0b12;
    
    
}

.iframe{
    padding-right: 10%;
    object-fit: cover;
}
.ul{
    padding-left: 10%;
}

.row section ul li{
    font-size: 1.5em;
    font-family: 'M PLUS 1p', sans-serif;
    list-style: none;
    padding-left: 10%;
}
#direccion{
    text-align: center;
    font-size: 1.5em;
    font-family: 'M PLUS 1p', sans-serif;
    list-style: none;
    padding-top: 3%;
    color: white;
}

p{
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 2%;
    text-align: justify;
    font-size: 1.5em;
    font-family: 'M PLUS 1p', sans-serif;
}
h1{
    padding-left: 10%;
    color: #bc0b12;
    font-size: 1.3em;
    font-family: 'Zen Antique', serif;

}



footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 60px;
    padding-top: 50px;
}

footer div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div span{
    width: 100%;
    color: darkgray;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    text-align: center;
    border-top: solid 2px #bc0b12;
    padding-top: 3%;
    padding-bottom: 3%;
}
.slider{
    width: 100%;
    margin: 0%;
    overflow:hidden;
    height: 500px;
    padding-bottom: 5%
    ;
}
.slider ul{
   display: flex;
   padding: 0%;
   width: 400%;
   animation:  cambio 20s infinite;
}

.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: auto;

    
}
@supports(object-fit: cover){
    .slider img{
      height: 50%;
      object-fit: cover;
      object-position: center;
    }
}

@keyframes cambio{
    0% { margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}