@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
/* font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */
/* Estructura básica */

body{
   
    margin: 0px;
    padding: 0px;
}

/* Estilos de la etiqueta header */

body header{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

body header .container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
   margin-top: 100px;
   
}

/* Tres secciones del header */

/* Sección 1 */
body header .container .content-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body header .container .content-img img{
    width: 50%;
}


 body main section .col-2{
    width: 80%;
    
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    
    
   
}
body main section .col-1{
    width: 10%;
}




p{
    font-size: 1.5em;
    font-family: 'M PLUS 1p', sans-serif;
    padding: 30px 50px 30px 40px;
   
}


body main section .col-2 nav ul li{
    list-style: none;
    padding: 10px 40px 10px 10px;
    
    border-radius: 20px 20px 20px 20px ;
    margin-top: 10px;
    display: inline-block;
    width:auto;
    
    
    
}

body main section .col-2 nav ul li a{
    text-decoration: none;
    color: #bc0b12;
    font-size: 1.3em;
    font-family: 'M PLUS 1p', sans-serif;
    letter-spacing: 1px;
    
}
body main section .col-2 nav ul li a:hover{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}


body main .col-2{
    width: 80%;
    float: left;
    
    text-align: center;
    
}
body main .col-3{
    width: 10%;
    float: right;
}


/* Estilos del footer */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 0px #979797;
    margin-top: 50px;
    padding-top: 30px;
}

footer div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div span{
    width: 100%;
    color: darkgray;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    text-align: center;
}